<mat-toolbar color="primary" class="banner">
  <a href="/">
    <img src="assets/img/imgpedia-min.png" class="logo">
  </a>
  <strong class="filename">{{parseText(detail.fileName)}}</strong>
</mat-toolbar>
<br>
<mat-card class="main-card">
  <a [href]=detail.originalUrl><img mat-card-image [src]=detail.thumbUrl></a>
  <mat-card-content>
    <p><b>File: </b>{{parseText(detail.fileName)}}</p>

    <p *ngIf="detail.height"><b>Height:</b>{{detail.height}}</p>

    <div *ngIf="associatedWith().length > 0">
      <b>Associated with</b>
      <div *ngFor="let associated of associatedWith()" class="links">
        <a [href]=associated>{{parseText(associated)}}</a>
      </div>
    </div>

    <div *ngIf="appearsIn().length > 0">
      <b>Appears in</b>
      <div *ngFor="let appear of appearsIn()" class="links">
        <a [href]=appear>{{parseText(appear)}}</a>
      </div>
    </div>

  </mat-card-content>
</mat-card>

<mat-tab-group>
  <div *ngFor="let desc of getDescriptors()">
    <mat-tab label={{formatDescriptorName(desc)}}>
      <mat-grid-list cols="6" rowHeight="6:3" gutterSize="15px">
        <mat-grid-tile
          *ngFor="let sim of descriptors[desc]">
          <a [routerLink]="['/detail', sim.fileName]" class="binding"><img [src]="sim.thumbUrl"
                                                                           [alt]="sim.distance"></a>
          <mat-grid-tile-footer class="distance-descriptor">
            <p>{{sim.distance}}</p>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </div>
</mat-tab-group>
