<mat-toolbar color="primary" class="banner">
  <a href="/">
    <img src="assets/img/imgpedia-min.png" class="logo">
  </a>
  <strong>IMGpedia SPARQL Endpoint</strong>
</mat-toolbar>

<textarea [(ngModel)]="textValue" (ngModelChange)="onTextChange($event)" class="input-query" placeholder="Insert Sparql query..." rows="10"></textarea>

<div class="btn-query">
  <button mat-raised-button *ngIf="!loading" color="primary" (click)="runQuery()">Run Query</button>
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<div *ngIf="errorMessage && !headers && !results" class="alert alert-danger">
  <strong>ERROR</strong>
  <pre>{{errorMessage}}</pre>
</div>

<app-query-result *ngIf="!errorMessage && headers && headersLength() > 0 &&
                        results && resultsLength() > 0" [headers]="headers" [results]="results"></app-query-result>
