<mat-toolbar color="primary" style="height: 50px; background: #5fd1da">
  <a href="/" style="height: inherit; margin-right: 2%; margin-top: 20px; margin-bottom: 15px">
    <img src="assets/img/imgpedia-min.png" style="height: 90%">
  </a>
  <strong>IMGpedia SPARQL Endpoint</strong>

</mat-toolbar>
<textarea [(ngModel)]="textValue" id="inputText" placeholder="Insert Sparql query..." rows="10"></textarea>

<div class="row">
  <div class="offset-5 col-1">
    <button mat-raised-button  color="primary" style="background-color: #5fd1da" (click)="runQuery()">Run Query</button>
  </div>
  <div class="offset-4 col-2">
    <input type="checkbox" [(ngModel)]="defaultDataset"> IMGpedia dataset
  </div>
</div>

<div *ngIf="errorMessage && !headers && !results" class="alert alert-danger">
  <strong>ERROR</strong>
  <pre>{{errorMessage}}</pre>
</div>
<app-query-result *ngIf="!errorMessage && headers && headersLength() > 0 &&
                        results && resultsLength() > 0" [headers]="headers" [results]="results"></app-query-result>
