::ng-deep .mat-input-underline {
  display: none;
}

.full {
  width: 85%;
  height: 100%;
}

.query-btn {
  margin-left: 50%;
}

#inputText {
  min-width: 100%;
}

#image {
  margin-top: 25%;
  position: center;
}
