<mat-toolbar color="primary" style="height: 100px">
  <a href="/#/query" style="height: inherit; margin-right: 2%; margin-top: 20px; margin-bottom: 15px">
    <img src="assets/img/imgpedia-min.png" style="height: 90%">
  </a>
  <strong>IMGpedia SPARQL Endpoint</strong>

</mat-toolbar>
<textarea [(ngModel)]="textValue" id="inputText" placeholder="Insert Sparql query..." rows="10"></textarea>
<div class="query-btn">
  <button mat-raised-button  color="primary" (click)="runQuery()">Run Query</button>
</div>
<div *ngIf="errorMessage && !headers && !results" class="alert alert-danger">
  <strong>ERROR</strong>
  <pre>{{errorMessage}}</pre>
</div>
<app-query-result *ngIf="!errorMessage && headers && headersLength() > 0 &&
                        results && resultsLength() > 0" [headers]="headers" [results]="results"></app-query-result>
