::ng-deep .mat-input-underline {
  display: none;
}

.banner {
  height: 50px;

  a {
    height: inherit;
    margin-right: 2%;
    margin-top: 20px;
    margin-bottom: 15px;

    .logo {
      height: 90%;
    }
  }
}

.btn-query {
  margin-left: 50%;
  max-height: 88px;
}

.input-query {
  min-width: 100%;
  font-family: monospace;
}
