::ng-deep .mat-input-underline {
  display: none;
}

.full {
  width: 85%;
  height: 100%;
}

.no-pad-marg {
  padding: 0;
  margin: 0.2% 0 0 0;
}

#inputText {
  min-width: 100%;
}

#image {
  margin-top: 25%;
  position: center;
}
