@use '@angular/material' as mat;

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$cyan-palette,
    tertiary: mat.$red-palette, 
  )
));

html {
    @include mat.all-component-themes($theme);
    @include mat.button-theme($theme);
}  
