<mat-toolbar color="primary">
  <span>{{detail.fileName}}</span>
</mat-toolbar>
<br>
<mat-card style="width: 50%; margin-left: 25%">
    <a [href]=detail.originalUrl><img mat-card-image [src]=detail.thumbUrl></a>
    <mat-card-content>
      <p><b>File: </b>{{info.fileName}}</p>
      <p *ngIf="detail.height"><b>Height:</b>{{info.height}}</p>
      <p *ngIf="detail.associatedWith"><b>Associated with </b><a [href]=info.associatedWith>{{info.associatedWith}}</a></p>
      <p *ngIf="detail.appearsIn"><b>Appears in </b><a [href]=info.appearsIn>{{info.appearsIn}}</a></p>
    </mat-card-content>
</mat-card>
<div *ngIf="similars.length > 0">
  <mat-grid-list cols="6" rowHeight="6:3" gutterSize="15px">
    <mat-grid-tile
      *ngFor="let s of similars">
      <a [routerLink]="['/detail', s.fileName]"><img [src]=s.thumbUrl [alt]=s.fileName></a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div *ngIf="similars.length <= 0">
  <h2>No similar images</h2>
</div>
